<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
    version="2.0">
    
  <tlib-version>1.0</tlib-version>
  <short-name>util</short-name>
  <uri>utilities</uri>
  
    <tag>
		<name>listmapping</name>
		<tag-class>by.epamlab.tags.ListMappingTag</tag-class>
		<body-content>JSP</body-content>
	</tag>
	
	<tag>
		<name>resolveurl</name>
		<tag-class>by.epamlab.tags.ResolveUrlTag</tag-class>
		<body-content>scriptless</body-content>
        <attribute>
            <name>url</name>
        </attribute>
	</tag>

</taglib>
