header, footer, .book, .error {
    text-align: center;
}

body{
    background: linear-gradient(0deg, #fff 5%, #ade4e6 50%, #fff 90%);
}

input {
    margin: 5px 4px;
}

input[type=submit], .button {
    display: inline-block;
    min-width: 65px;
    padding: 3px 5px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    font: 13px Arial;
    color: #000;
    border: 1px inset #ea0509;
    background: linear-gradient(0deg, #fff, #ade4e6);
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 10;
    padding: 7px 0 0 10px;
    background: #ade4e6cc;
    box-shadow: 0 0 2px #ea0509cc;
}

header a{
    color: #ea0509;
    text-decoration: none;
    font-size: 13pt;
}

footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #ade4e6;
}

.error {
    color: #f00;
}

.filler{
    height: 24px;
    margin-bottom: 7px;
}

.pageContent {
    min-height: 91vh;
    width: 75%;
    margin: 0 auto;
}

.addForm {
    display: none;
    margin-bottom: 7px;
}
.addForm textarea {
    min-width: 75%;
    max-width: 75%;
    min-height: 60px;
    max-height: 60px;
    vertical-align: top;
}
.addForm input[type=submit] {
    display: block;
    margin: 3px auto 20px;
}

.visible{
    display: block;
}

.book {
    margin: 0 auto 4px;
    padding: 5px;
    background: linear-gradient(15deg, #ea0509 2%, #ade4e6 60%, #fff);
    box-shadow: 0 0 3px #2e2e2e;
}
.book a {
    color: #000;
    text-decoration: none;
}
.bookTitle{
    font-size: 18pt;
}
.bookDescription, .bookTitle {
    margin: 5px;
}
.book:hover {
    transition-duration: 200ms;
    transform: scale(1.01, 1.01);
}